<nav class="property-links">
  <a class="property-links-direct" href="{{site.url}}/property/{{include.property_name}}/" data-property-name="{{include.property_name}}" data-tooltip="Single page for this property" target="_blank">Pop out</a>
  <a class="property-share" data-tooltip="Share on Twitter or Facebook" data-property-name="{{include.property_name}}">Share</a>
  <a target="_blank" href="https://developer.mozilla.org/en/docs/Web/CSS/{{include.property_name}}" data-tooltip="See on Mozilla Developer Network" rel="external">MDN</a>
</nav>
